<h1>New Blog Post</h1>
<%= render partial: "form", locals: {blog_post: @blog_post}%>
<%# in the above line we added blog_pst variable assign value and 
this value added in form partial file in form erb as a variable for access %>
<%# local variable assig instant %>
